
@{
    Layout = null;
    bool isAdmin = false;
    if (Session["CurrentUserType"] != null)
    {
        if (Session["CurrentUserType"].ToString() == "1")
        {
            isAdmin = true;
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>人事管理系统</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-header">
        <p class="login-fun">欢迎您<span id="userinfo" style="margin-left:10px"></span><a class="layui-btn layui-btn-normal logout">退出</a></p>
    </div>
    <ul class="layui-nav layui-nav-side layui-nav-tree" lay-filter="test">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item"><a href="/Home/Index">我的主页</a></li>
        <li class="layui-nav-item"><a href="/MyAttendance/Index">我的考勤</a></li>
        @if (isAdmin)
        {
            <li class="layui-nav-item"><a href="/Attendance/Index">考勤管理</a></li>
            <li class="layui-nav-item"><a href="/Department/Index">部门管理</a></li>
            <li class="layui-nav-item"><a href="/Resign/Index">职务管理</a></li>
            <li class="layui-nav-item layui-this"><a href="/News/Index">公告管理</a></li>
            <li class="layui-nav-item"><a href="/UserManage/Index">人员管理</a></li>
            <li class="layui-nav-item"><a href="/UserManage/DimissRecord">离职登记记录</a></li>
            <li class="layui-nav-item"><a href="/UserManage/UserModifyRecord">人事调整记录</a></li>
            <li class="layui-nav-item"><a href="/UserManage/UserSalaryModifyRecord">薪资调整记录</a></li>
        }
        <li class="layui-nav-item "><a href="/UserInfo/Index">个人信息</a></li>
        <li class="layui-nav-item"><a href="/UserInfo/ChangePassword">密码修改</a></li>
    </ul>
    <div class="layui-site-content ">
        <h1 class="layui-colla-title title-from">修改公告</h1>
        <form class="layui-form form-them" action="">
            <input type="hidden" name="Id" value="@ViewBag.Id" />
            <div class="layui-form-item">
                <label class="layui-form-label">公告标题</label>
                <div class="layui-input-block">
                    <input type="text" name="Title" id="Title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公告类别</label>
                <div class="layui-input-block">
                    <select name="NewsTypeId" id="news-type-data" lay-filter="aihao">
                        <option value="0" selected="selected">消息通知</option>
                        <option value="1">公告通知</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">公告内容</label>
                <div class="layui-input-block">
                    <textarea id="Content" name="Contents" style="display: none;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Content/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jquery.tmpl.min.js"></script>
    <script type="text/x-jquery-tmpl" id="news-type-tmpl">
        <option value="${name}">${id}</option>
    </script>
    <script>

        //一般直接写在一个js文件中
        layui.use(['jquery', 'layer', 'form', 'element', 'laypage', 'laydate','layedit'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form(),
                layedit = layui.layedit,
                element = layui.element(),
                laypage = layui.laypage,
                laydate = layui.laydate;

            layedit.set({
                uploadImage: {
                    url: '/Upload/Upload'
                }
            });
            var index = layedit.build('Content');
            //$.get("/News/GetIndexNews", { type: "type" }, function (result) {
            //    $("#news-type-tmpl").tmpl(result).appendTo("#news-type-data");
            //    form.render();
            //    return false;
            //});
            $(".logout").on("click", function () {
                location.href = "/Login/Logout"
            });
            $.get("/MyAttendance/GetCurrentUserInfo", function (result) {
                if (result.Status == 125) {
                    location.href = "/Login/Index";
                }

                $("#userinfo").text(result.Data.UserName);
                return false;
            });
            $.get("/News/GetNewsDetail", { id: '@ViewBag.id' }, function (result) {

                $("#Title").val(result.Data.Title);
                $("#news-type-data").val(result.Data.NewsTypeId);
                $("#Content").text(result.Data.Contents);
                index= layedit.build('Content');
                form.render();
                return false;
            });

            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                data.field.Contents = layedit.getContent(index);
                console.log(data.field);
                $.post("/News/Edit", data.field, function (result) {
                    if (result.Status == 200) {
                        layer.msg("修改公告成功", function () {
                            window.location.href = "/News/Index";
                        })
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
