
@{
    Layout = null;
    bool isAdmin = false;
    if (Session["CurrentUserType"] != null)
    {
        if (Session["CurrentUserType"].ToString() == "1")
        {
            isAdmin = true;
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>人事管理系统</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-header">
        <p class="login-fun">欢迎您<span id="userinfo" style="margin-left:10px"></span><a class="layui-btn layui-btn-normal logout">退出</a></p>
    </div>
    <ul class="layui-nav layui-nav-side layui-nav-tree" lay-filter="test">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item layui-this"><a href="/Home/Index">我的主页</a></li>
        <li class="layui-nav-item"><a href="/MyAttendance/Index">我的考勤</a></li>
        @if (isAdmin)
        {
            <li class="layui-nav-item"><a href="/Attendance/Index">考勤管理</a></li>
            <li class="layui-nav-item"><a href="/Department/Index">部门管理</a></li>
            <li class="layui-nav-item"><a href="/Resign/Index">职务管理</a></li>
            <li class="layui-nav-item"><a href="/News/Index">公告管理</a></li>
            <li class="layui-nav-item"><a href="/UserManage/Index">人员管理</a></li>
            <li class="layui-nav-item"><a href="/UserManage/DimissRecord">离职登记记录</a></li>
            <li class="layui-nav-item"><a href="/UserManage/UserModifyRecord">人事调整记录</a></li>
            <li class="layui-nav-item"><a href="/UserManage/UserSalaryModifyRecord">薪资调整记录</a></li>
        }
        <li class="layui-nav-item "><a href="/UserInfo/Index">个人信息</a></li>
        <li class="layui-nav-item"><a href="/UserInfo/ChangePassword">密码修改</a></li>
    </ul>
    <div class="layui-site-content ">
        <div class="layui-clear">
            <div class="site-left">
                <div class="site-content">
                    <fieldset class="layui-elem-field">
                        <legend>公告通知</legend>
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>公告标题</th>
                                    <th>公告类别</th>
                                    <th>发布时间</th>
                                    <th>简介</th>
                                </tr>
                            </thead>
                            <tbody id="news-data">
                            </tbody>
                        </table>
                       
                        <div id="demo1" class="page-box"></div>
                    </fieldset>

                    
                </div>
                
            </div>
        </div>
    </div>
    <script src="~/Content/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jquery.tmpl.min.js"></script>
    <script type="text/x-jquery-tmpl" id="news-tmpl">
        <tr>
            <td><a href="/News/GetDetail?id=${Id}">${Title}</a></td>
            <td>公告通知</td>
            <td>${CreateTime}</td>
            <td>${Description}</td>
        </tr>
    </script>
    <script>

    //一般直接写在一个js文件中
        layui.use(['jquery', 'layer', 'form', 'element', 'laypage'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form(),
            element = layui.element(),
            laypage = layui.laypage;
        var keyword = 1;
        $(".logout").on("click", function () {
            location.href = "/Login/Logout"
        });
        $.get("/MyAttendance/GetCurrentUserInfo", function (result) {
            if (result.Status == 125) {
                location.href = "/Login/Index";
            }

            $("#userinfo").text(result.Data.UserName);
            return false;
        });
        $.get("/News/GetNewsByType", { type: keyword, pageIndex: 1, pageSize: 2 }, function (result) {
            //$("#news-type-tmpl").tmpl(result).appendTo("#news-type-data");
            laypage({
                cont: 'demo1'
                , pages: result.Data.TotalPage //总页数
                , groups: 5 //
                , jump: function (result) {
                    getPage(result);
                }
            });
            render(result.Data.Entity);
            form.render();
            return false;
        });

        var getPage = function (obj) {
            $.get("/News/GetNewsByType", { type: keyword, pageIndex: obj.curr, pageSize: 2 }, function (result) {
                //$("#news-type-tmpl").tmpl(result).appendTo("#news-type-data");
                render(result.Data.Entity);
                // console.log(result.data);
                form.render();
                return false;
            });
        };

        var render = function (data) {
            $("#news-data").empty();
            $("#news-tmpl").tmpl(data).appendTo("#news-data");

        }
    });
    </script>
</body>
</html>
