
@{
    Layout = null;
    bool isAdmin = false;
    if (Session["CurrentUserType"] != null)
    {
        if (Session["CurrentUserType"].ToString() == "1")
        {
            isAdmin = true;
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用Layui</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-header">
        <p class="login-fun">欢迎您<span id="userinfo" style="margin-left:10px"></span><a class="layui-btn layui-btn-normal logout">退出</a></p>
    </div>
    <ul class="layui-nav layui-nav-side layui-nav-tree" lay-filter="test">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item"><a href="/Home/Index">我的主页</a></li>
        <li class="layui-nav-item"><a href="/MyAttendance/Index">我的考勤</a></li>
        @if (isAdmin)
        {
            <li class="layui-nav-item"><a href="/Attendance/Index">考勤管理</a></li>
            <li class="layui-nav-item"><a href="/Department/Index">部门管理</a></li>
            <li class="layui-nav-item"><a href="/Resign/Index">职务管理</a></li>
            <li class="layui-nav-item"><a href="/News/Index">公告管理</a></li>
            <li class="layui-nav-item"><a href="/UserManage/Index">人员管理</a></li>
            <li class="layui-nav-item"><a href="/UserManage/UserModifyRecord">人事调整记录</a></li>
            <li class="layui-nav-item layui-this"><a href="/UserManage/UserSalaryModifyRecord">薪资调整记录</a></li>
        }
        <li class="layui-nav-item "><a href="/UserInfo/Index">个人信息</a></li>
        <li class="layui-nav-item"><a href="/UserInfo/ChangePassword">密码修改</a></li>
    </ul>
    <div class="layui-site-content ">
        <h1 class="layui-colla-title title-from">修改密码</h1>
        <form class="layui-form form-them" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">老密码</label>
                <div class="layui-input-block">
                    <input type="text" name="OldPassword" lay-verify="title" autocomplete="off" placeholder="请输入旧密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="text" name="NewPassword" lay-verify="title" autocomplete="off" placeholder="请输入旧密码" class="layui-input">
                    
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="text" name="ConfirmPassword" lay-verify="title" autocomplete="off" placeholder="请输入旧密码" class="layui-input">
                    
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Content/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jquery.tmpl.min.js"></script>
    <script>

        //一般直接写在一个js文件中
        layui.use(['jquery', 'layer', 'form', 'element', 'laypage', 'laydate'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form(),
                element = layui.element(),
                laypage = layui.laypage,
                laydate = layui.laydate;

            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
            });

            $(".logout").on("click", function () {
                location.href = "/Login/Logout"
            });
            $.get("/MyAttendance/GetCurrentUserInfo", function (result) {
                if (result.Status == 125) {
                    location.href = "/Login/Index";
                }

                $("#userinfo").text(result.Data.UserName);
                return false;
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                $.post("/Resign/Create", data.field, function (result) {
                    if (result.Status == 200) {
                        layer.msg("添加职务成功", function () {
                            window.location.href = "/Resign/Index";
                        })
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
