
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用Layui</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-header">
        <p class="login-fun">欢迎您<a class="layui-btn layui-btn-normal">退出</a></p>
    </div>
    <ul class="layui-nav layui-nav-side layui-nav-tree" lay-filter="test">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item"><a href="/Home/Index">我的主页</a></li>
        <li class="layui-nav-item"><a href="/MyAttendance/Index">我的考勤</a></li>
        <li class="layui-nav-item"><a href="/Attendance/Index">考勤管理</a></li>
        <li class="layui-nav-item"><a href="/Department/Index">部门管理</a></li>
        <li class="layui-nav-item"><a href="/Resign/Index">职务管理</a></li>
        <li class="layui-nav-item"><a href="/News/Index">新闻管理</a></li>
        <li class="layui-nav-item layui-this"><a href="/UserManage/Index">人员管理</a></li>
        <li class="layui-nav-item"><a href="">个人信息</a></li>
        <li class="layui-nav-item"><a href="">密码修改</a></li>
    </ul>

    <div class="layui-site-content ">
        <h1 class="layui-colla-title title-from">人员调整</h1>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">人员调整</li>
                <li>调整记录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <form class="layui-form form-them" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">调整人员</label>
                            <div class="layui-input-block">
                                <input type="text" name="Title" readonly lay-verify="title" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">原始部门</label>
                            <div class="layui-input-block">
                                <select name="OrginalDepartmentId" id="news-type-data" lay-filter="aihao">
                                    <option value="辞职" selected="selected">辞职</option>
                                    <option value="辞退" selected="selected">辞退</option>
                                    <option value="合同到期">合同到期</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">调整部门</label>
                            <div class="layui-input-block">
                                <select name="NowDepartmentId" id="news-type-data" lay-filter="aihao">
                                    <option value="辞职" selected="selected">辞职</option>
                                    <option value="辞退" selected="selected">辞退</option>
                                    <option value="合同到期">合同到期</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">原始职位</label>
                            <div class="layui-input-block">
                                <select name="OriginalResign" id="news-type-data" lay-filter="aihao">
                                    <option value="辞职" selected="selected">辞职</option>
                                    <option value="辞退" selected="selected">辞退</option>
                                    <option value="合同到期">合同到期</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">调整职位</label>
                            <div class="layui-input-block">
                                <select name="NowResign" id="news-type-data" lay-filter="aihao">
                                    <option value="辞职" selected="selected">辞职</option>
                                    <option value="辞退" selected="selected">辞退</option>
                                    <option value="合同到期">合同到期</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea id="Content" name="Contents" style="width:400px;height:200px"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <fieldset class="layui-elem-field">
                        <legend>离职记录</legend>
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>新闻标题</th>
                                    <th>新闻类别</th>
                                    <th>发布时间</th>
                                    <th>简介</th>
                                    <th>简介</th>
                                </tr>
                            </thead>
                            <tbody id="news-data">
                                <tr>
                                    <td><input type="checkbox" name="" value="a" lay-skin="primary"></td>
                                    <td>贤心</td>
                                    <td>汉族</td>
                                    <td>1989-10-14</td>
                                    <td>人生似修行</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" value="b" lay-skin="primary"></td>
                                    <td>张爱玲</td>
                                    <td>汉族</td>
                                    <td>1920-09-30</td>
                                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" value="c" lay-skin="primary"></td>
                                    <td>Helen Keller</td>
                                    <td>拉丁美裔</td>
                                    <td>1880-06-27</td>
                                    <td> Life is either a daring adventure or nothing.</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" value="d" lay-skin="primary"></td>
                                    <td>岳飞</td>
                                    <td>汉族</td>
                                    <td>1103-北宋崇宁二年</td>
                                    <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" value="e" lay-skin="primary"></td>
                                    <td>孟子</td>
                                    <td>华夏族（汉族）</td>
                                    <td>公元前-372年</td>
                                    <td>猿强，则国强。国强，则猿更强！ </td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="demo1" class="page-box"></div>
                    </fieldset>
                </div>
            </div>

        </div>

    </div>
    <script src="~/Content/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jquery.tmpl.min.js"></script>
    <script type="text/x-jquery-tmpl" id="news-type-tmpl">
        <option value="${name}">${id}</option>
    </script>
    <script>

        //一般直接写在一个js文件中
        layui.use(['jquery', 'layer', 'form', 'element', 'laypage', 'laydate','layedit'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form(),
                layedit = layui.layedit,
                element = layui.element(),
                laypage = layui.laypage,
                laydate = layui.laydate;
            //$.get("/News/GetIndexNews", { type: "type" }, function (result) {
            //    $("#news-type-tmpl").tmpl(result).appendTo("#news-type-data");
            //    form.render();
            //    return false;
            //});

            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                data.field.Contents = layedit.getContent(index);
                console.log(data.field);
                $.post("/News/Create", data.field, function (result) {
                    if (result.Status == 200) {
                        layer.msg("添加新闻成功", function () {
                            window.location.href = "/News/Index";
                        })
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
